In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
# loading data 
data = pd.read_csv("C:\\Users\\nthambat\\Downloads\\forestfires.csv",index_col=False)
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [63]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
data['month']= label_encoder.fit_transform(data['month']) 
data['month'].unique()

array([ 7, 10,  1, 11,  0,  6,  5,  3,  4,  2,  8,  9], dtype=int64)

In [64]:
data['day']= label_encoder.fit_transform(data['day']) 
data['day'].unique()

array([0, 5, 2, 3, 1, 6, 4], dtype=int64)

In [65]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size = 0.3,random_state=0)

In [66]:
train.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
390,3,1,84.7,9.5,58.3,4.1,7.5,71,6.3,0.0,...,1,0,0,0,0,0,0,0,0,large
5,1,3,92.3,85.3,488.0,14.7,22.2,29,5.4,0.0,...,0,0,0,0,0,0,0,0,0,small

In [67]:
test.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
213,7,1,87.6,52.2,103.8,5.0,11.0,46,5.8,0.0,...,0,0,0,0,1,0,0,0,0,large
435,5,2,90.8,84.7,376.6,5.6,23.8,51,1.8,0.0,...,0,0,1,0,0,0,0,0,0,small
343,11,1,91.5,130.1,807.1,7.5,15.9,51,4.5,0.0,...,0,0,0,0,0,0,0,0,1,small
230,11,6,92.9,133.3,699.6,9.2,26.4,21,4.5,0.0,...,0,0,0,0,0,0,0,0,1,large
171,1,6,85.6,90.4,609.6,6.6,17.4,50,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small

In [68]:
train_X = train.iloc[:,:-1]
train_y = train.iloc[:,-1]
test_X  = test.iloc[:,:-1]
test_y  = test.iloc[:,-1]

## kernal = Linear

In [69]:
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.967948717948718

## kernal = poly

In [70]:
model_linear = SVC(kernel = "poly")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.7564102564102564

## kernal = rbf

In [71]:
model_linear = SVC(kernel = "rbf")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.7243589743589743